@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
       url("Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.19") format("woff2"),
       url("Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.19") format("woff2"),
       url("Inter-Black.woff?v=3.19") format("woff");
}

.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width:1279px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width:1023px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width:767px) {
  .page {
    max-width: 320px;
  }
}