.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  grid-template-rows: repeat(3, minmax(0, auto));
  outline: 1px solid aquamarine;
  column-gap: 40px;
}

@media screen and (max-width: 1279px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: minmax(0, auto);
    column-gap: 0;
  }
}