.footer {
  display: grid;
  grid-template-columns: repeat(5, min-content) 1fr;
  grid-template-rows: minmax(0, 18px);
  column-gap: 18px;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 186px;
    grid-template-columns: minmax(0, 186px);
    grid-template-rows: repeat(5, min-content) 1fr;
    column-gap: 0;
    row-gap: 32px;
  }
}